form {
    display: flex;
    align-items: center;
    width: fit-content;
    margin: 10px 10px 10px 0;
}

.form__field {
    height: 6vh;
    margin-right: 10px;
    border: none;
    background: #301231;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 4px 4px 25px rgba(0, 0, 0, 0.25);
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    color: #888888;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

::placeholder {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    color: #888888;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.arrow-img {
    height: 6vh;
}

@media only screen and (max-device-width: 976px) {
    form{margin: 0px;}
    .form__field {
        height: 10px;
        font-size: 4px;
    }
     ::placeholder {
        font-size: 4px;
    }
    .arrow-img {
        height: 1.5vh;
    }
}