body {
  position: absolute;
  background: rgb(63, 30, 71);
  background: radial-gradient(
    circle,
    rgba(63, 30, 71, 0.9864320728291317) 0%,
    rgba(2, 0, 36, 1) 100%,
    rgba(54, 11, 64, 0.9500175070028011) 100%
  );
  z-index: -999999999;
}

.lottie-arrow {
  position: absolute;
  top: 0;
  left: 0%;
  z-index: -1;
  width: 100%;
  height: 180vh;
}

.game {
  overflow-y: auto;
  -ms-overflow-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: dotted 1px white;
  z-index: 99999999;
}

.game1 {
  overflow-y: auto;
  -ms-overflow-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game::-webkit-scrollbar {
  display: none;
}

.game-header {
  width: 98vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1vw 0 1vw;
}

.game-header2 {
  width: 98vw;
  height: 10vh;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1vw 0 1vw;
}

.diamond {
  width: 15vw;
}

.main-container-wrap {
  width: 100vw;
  height: 70vh;
  /* background: rgb(218, 27, 27); */
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-left {
  width: 50%;
  height: 100%;
  /* background: #000; */
  display: flex;
  align-items: center;
  flex-direction: column;
}

.game-right {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* background: rgb(0, 255, 85); */
}

/* plus icon, minus icon, timer styling */

.main-container-wrap1 {
  width: 100vw;
  margin-top: 30px;
  /* background: rgb(218, 27, 27); */
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-left1 {
  width: 50%;
  /* background: #000; */
  display: flex;
  align-items: center;
  flex-direction: column;
}

.game-right1 {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* background: rgb(0, 255, 85); */
}

.overall-percentage-container {
  height: 20%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background: rgb(17, 0, 253); */
}

.percentage-container-up {
  width: 100%;
  height: 50%;
  /* background: rgb(188, 22, 253); */
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.percentage-container-down {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  /* background: rgb(6, 193, 240); */
}

.total-amount {
  height: fit-content;
  width: fit-content;
  padding: 10px;
  margin: 20px;
  background: #dd33c2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 4px 4px 25px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  color: #ffffff;
  border: 1px solid #dd33c2;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.instructions
{
    height: fit-content;
    width: fit-content;
    padding: 10px;
    background: #5a225b;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 4px 4px 25px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #fdad00;
}

@media only screen and (max-device-width: 768px) {
  .game {
    background: rgb(63, 30, 71);
    /* background: radial-gradient(
    circle,
    rgba(63, 30, 71, 0.9864320728291317) 0%,
    rgba(2, 0, 36, 1) 100%,
    rgba(54, 11, 64, 0.9500175070028011) 100%
  ); */
    height: fit-content;
    padding: 10px;
  }
  .game-header2 {
    margin-top: 0px;
  }
  .main-container-wrap {
    height: auto;
    margin-bottom: 5vh;
  }
  .main-container-wrap1 {
    margin-top: 0px;
  }
  .overall-percentage-container {
    height: auto;
  }
  .percentage-container-up {
    height: auto;
  }
  .percentage-container-down {
    height: auto;
    margin-top: 5px;
  }
  .diamond-img {
    width: 4vh;
  }
  .plus-img {
    height: 2vh;
  }
  .minus-img {
    height: 2vh;
  }
  .total-amount {
    font-size: 6px;
    padding: 5px;
    height: 10px;
    margin: 0;
    border-radius: 5px;
  }

  .lottie-arrow {
    height: 100vh;
  }

  .instructions
  {
    padding: 10px;
    margin-left: 5px;
    border-radius: 5px;
    font-size: 10px;
    line-height: 0px;
  }

  body {
    height: 100%;
  }

  /* version 2 */
  /* .game {
    background: rgb(255, 255, 255);
    
  } */


}
